./learnjsvite/logs
./learnjsvite/*.log
./learnjsvite/npm-debug.log*
./learnjsvite/yarn-debug.log*
./learnjsvite/yarn-error.log*
./learnjsvite/pnpm-debug.log*
./learnjsvite/lerna-debug.log*

./learnjsvite/node_modules
./learnjsvite/dist
./learnjsvite/dist-ssr
./learnjsvite/*.local

./learnjsvite/.vscode/*
./learnjsvite/!.vscode/extensions.json
./learnjsvite/.idea
./learnjsvite/.DS_Store
./learnjsvite/*.suo
./learnjsvite/*.ntvs*
./learnjsvite/*.njsproj
./learnjsvite/*.sln
./learnjsvite/*.sw?


./learnjsback/.DS_Store
./learnjsback/.AppleDouble
./learnjsback/.LSOverride
./learnjsback/Icon
./learnjsback/.Spotlight-V100
./learnjsback/.Trashes
./learnjsback/._*

./learnjsback/*~

./learnjsback/Thumbs.db
./learnjsback/ehthumbs.db
./learnjsback/Desktop.ini
./learnjsback/$RECYCLE.BIN/
./learnjsback/*.cab
./learnjsback/*.msi
./learnjsback/*.msm
./learnjsback/*.msp

./learnjsback/*.7z
./learnjsback/*.csv
./learnjsback/*.dat
./learnjsback/*.dmg
./learnjsback/*.gz
./learnjsback/*.iso
./learnjsback/*.jar
./learnjsback/*.rar
./learnjsback/*.tar
./learnjsback/*.zip
./learnjsback/*.com
./learnjsback/*.class
./learnjsback/*.dll
./learnjsback/*.exe
./learnjsback/*.o
./learnjsback/*.seed
./learnjsback/*.so
./learnjsback/*.swo
./learnjsback/*.swp
./learnjsback/*.swn
./learnjsback/*.swm
./learnjsback/*.out
./learnjsback/*.pid

./learnjsback/.tmp
./learnjsback/*.log
./learnjsback/*.sql
./learnjsback/*.sqlite
./learnjsback/*.sqlite3

./learnjsback/*#
./learnjsback/ssl
./learnjsback/.idea
./learnjsback/nbproject
./learnjsback/public/uploads/*
./learnjsback/!public/uploads/.gitkeep

./learnjsback/lib-cov
./learnjsback/lcov.info
./learnjsback/pids
./learnjsback/logs
./learnjsback/results
./learnjsback/node_modules
./learnjsback/.node_history

./learnjsback/coverage

./learnjsback/license.txt
./learnjsback/exports
./learnjsback/.strapi
./learnjsback/dist
./learnjsback/build
./learnjsback/.strapi-updater.json